<!DOCTYPE html>
<html>
<head>
    <title>Super Denoiser 3000</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="text-align:center;width:80%;">
        <h1 style="font-family:ubuntu;">Super Denoiser 3000</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file required>
            <select name="algorithm">
                <option value="Hybrid">HybridDenoise</option>
                <option value="CV2">CV2</option>
            </select>
            <br>
            <button class="button" type="submit">Denoise</button>
        </form>
    </div>
</body>
</html>
