<!DOCTYPE html>
<html>
    <head>
        <title>Super Denoiser 3000</title>
    </head>
    <body style="background-color:#e4e4d9;
    padding: 1em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image:linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                     linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                     linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                     linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                     linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                     linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                     linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
    ">
        <div style="text-align:center;width:80%;">
            <h1 style="font-family:ubuntu;">Super Denoiser 3000</h1>
            <form action="{{ url_for('upload_file') }}" method="get">
                <input type="submit" value="Denoise more!">
            </form>
            <h2 style="font-family:ubuntu;">Denoised image</h2>
            <img src="{{ url_for('download_file', name=name_denoised) }}" alt="Image">
            <h2 style="font-family:ubuntu;">Original image</h2>
            <img src="{{ url_for('download_file', name=name_orig) }}" alt="Image">
        </div>
    </body>
</html>
